body{
    margin:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#navbar-container{
    position: fixed;
    display: inline-block;
    width: 95%;
    padding: 10px 2.5%;
    border-bottom: 1px solid white;
}

#logo-icon{
    width:25px;
    height:25px;
}

#navbar-container #nav-right{
    float: right;
    overflow:hidden;
}

#navbar-container .navbar-item{
    text-decoration: none;
    color: white;
    padding: 1em 1em;
}

#navbar-container .navbar-item.icon{
    display:none;
}

#header{
    width: 100%;
    background-image: url("bay-area-stargazing.jpg");
    background-size: cover;
    color: white;
    display: grid;
    place-items: center;
}
#header-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 25% 0;
}
.header-item{
    margin: 0% 5%;
    padding: 5% 5%;
}
.header-item.header-right{
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
}

#header-btn{
    font-size: 15px;
    background-color: transparent;
    border: 1px solid lightblue;
    border-radius: 5px;
    width: 100%;
    outline: none;
    color: lightblue;
}
#header-btn:hover{
    background-color: lightblue;
    color: white;
}

#main-container{
    padding: 0 10%;
}