body{
    margin:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#navbar-container{
    background: rgba(0,0,0,0.5);
    position: fixed;
    display: inline-block;
    width: 95%;
    padding: 10px 2.5%;
    border-bottom: 1px solid white;
}

#logo-icon{
    width:25px;
    height:25px;
}

#navbar-container #nav-right{
    float: right;
    overflow:hidden;
}

#navbar-container .navbar-item{
    text-decoration: none;
    color: white;
    padding: 1em 1em;
}

#navbar-container .navbar-item.icon{
    display:none;
}

#header{
    width: 100%;
    background-image: url("bay-area-stargazing.jpg");
    background-size: cover;
    color: white;
    display: grid;
    place-items: center;
}
#header-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 25% 0;
}
.header-item{
    margin: 0% 5%;
    padding: 5% 5%;
}
.header-item.header-right{
    background: rgba(0,0,0,0.5);
    border-radius: var(--border-radius-large);
}

#header-btn{
    text-decoration: none;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid lightblue;
    border-radius:  var(--border-radius-small);
    width: 100%;
    outline: none;
    color: lightblue;
}
#header-btn:hover{
    background-color: lightblue;
    color: white;
}
#about{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5% 10%;
    background-color: lightgrey;

}
    .about-item{
        padding: 0 1em;
    }
        .about-head{
            margin:0;
        }
        #about-paragraph{
            text-align: justify;
        }
        #about-btn{
            border: none;
            padding: 0.83em 0.83em; 
            width: 60%;
            font-size: 15px;
            border-radius: var(--border-radius-small);
            background: var(--main-color);
        }
        #about-btn:hover{
            background-color: white;
            color: var(--main-color);
            border: 1px solid var(--main-color);
        }
        .about-img{
            border: 5px solid var(--main-color);
            border-radius: var(--border-radius-large);
            width: 100%;
        }